
$lightGreen: #b7e3e392;

.app {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;
      padding: 20px;

      h1 {
        font-size: 20px;
        color: rgba(8, 0, 0, 0.843);
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); // Adding a subtle text shadow
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        border-radius: 10px; // Adding border-radius for a rounded look
        box-shadow: 0px 0px 10px rgba(9, 0, 0, 0.1); // Adding a box shadow for a 3D effect

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid rgb(0, 37, 122);
          transition: border-bottom 0.3s ease; // Adding a transition for a smoother effect

          &:focus {
            outline: none;
            border-bottom: 2px solid rgb(3, 154, 3);
          }
        }

        button {
          padding: 10px;
          border: none;
          background-color: rgb(63, 55, 155);
          cursor: pointer;
          color: white;
          border-radius: 5px; // Adding border-radius for a rounded button

          &:hover {
            background-color: darken(
              rgb(25, 152, 25),
              10%
            ); // Darkening the color on hover
          }
        }

        p {
          font-size: 12px;
          color: rgb(78, 228, 8);
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR

    .navbar {
      color: #fff;

      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
          }

          .container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
          }

          .links {
            display: flex;
            align-items: center;

            .link {
              text-decoration: none;
              color: #fff;
              margin-right: 20px;

              h6 {
                margin: 0;
              }

              &.active {
                // Add styles for the active category
                border-bottom: 2px solid #fff;
              }
            }

            span {
              margin-right: 20px;
              color: #fff;
              cursor: pointer;
            }

            .write {
              a {
                padding: 10px 15px;
                background-color: #3498db;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
              }
            }
          }

          .content-display {
            flex-grow: 1;
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
            color: #fff;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;

      img {
        height: 50px;
      }
    }

    //HOME

.home {

    background-color: black;
      .blog-heading {
        background: linear-gradient(30deg, #5b3f73, #8c6786);
        position: relative;
        text-align: center;
        margin-bottom: 30px;
        overflow: hidden;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 1px;

        img {
          width: 100%;
          height: auto;

          filter: blur(5px);

          transform: scale(1.2);

          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }

        h1 {
          font-size: 2rem;
          color: #ffffff;

          z-index: 1;
          position: relative;
        }

        h2 {
          font-size: 1.5rem;
          color: #f7ffff;

          position: relative;
        }
      }

      .posts {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        .post {
          position: relative;
          // when two col in row
          flex: 0 0 calc(32.5% - 20px);
          max-width: calc(33.33% - 20px);
          // flex: 0 0 calc(50% - 20px);
          // max-width: calc(50% - 20px);
          // background-color: #f5f5f5;
          border-radius: 8px;
          overflow: hidden;

          background: #efeded;
          box-shadow: 0 4px 8px rgb(204, 201, 201);
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: translateY(-10px);
            z-index: 1;
            filter: brightness(1);
          }

          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
          }

          .img img {
            width: 400px;
            max-height: 300px;
            object-fit: cover;
            border-radius: 3px 3px 3px 3px;
          }

          .content {
            padding: 20px;

            h1 {
              font-size: 1.5rem;
              margin-bottom: 10px;
              color: #043c1e;
              position: relative;
              border-bottom: 2px solid transparent;
              transition: border-bottom 0.2s ease-in-out;

              &:hover {
                border-bottom: 0.5px solid #c7c6c6;
              }
            }

            p {
              font-size: 1rem;
              color: #918e8e;
              margin-bottom: 15px;
              text-align: justify;
            }

            .link {
              text-decoration: none;
              color: #555;
            }

            button {
              background-color: #254c96;
              color: #fff;
              border: none;
              padding: 10px 20px;
              cursor: pointer;
              border-radius: 5px;
              font-size: 16px;
              transition: background-color 0.3s, transform 0.3s;

              &:hover {
                background-color: #0a02b2;
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      display: flex;

      gap: 50px;

      .content {
        color: #121f4a;

        background: #f7f7f7;
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 50px;
        border-radius: 5px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2 px;

            span {
              font-weight: bold;
            }

            .date {
              font-style: italic;
              color: #1e1d1d;
              margin-top: 5px;
            }

            .read-time {
              color: #1e1d1d;
            }
          }

          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        h1 {
          font-size: 30px;
          color: #051052;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }

        .heading {
          align-items: end;
        }
      }

      .content1 {
        color: #e3dfdf;

        background: #181818;
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 50px;
        border-radius: 5px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2 px;

            span {
              font-weight: bold;
            }

            .date {
              font-style: italic;
              color: #dfdddd;
              margin-top: 5px;
            }

            .read-time {
              color: #dfdddd;
            }
          }

          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        h1 {
          font-size: 30px;
          color: #d3d3d3;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }

        .heading {
          align-items: end;
        }
      }

      .sidebar-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 150px;

        .toc {
          background: linear-gradient(45deg, #c26e88, #364db1);
          // background: #181818;
          border-radius: 8px;
          padding: 20px;
          position: fixed;

          nav {
            .document-toc-container {
              .document-toc {
                header {
                  margin-bottom: 10px;

                  .document-toc-heading {
                    font-size: 1.5rem;
                    color: #ffffff;
                    text-align: center;
                  }
                }

                .document-toc-list {
                  display: flex;
                  flex-direction: column;
                  list-style: none;
                  gap: 15px;
                  cursor: pointer;
                  font-size: 15px;

                  .document-toc-item {
                    margin-bottom: 10px;

                    .document-toc-link {
                      text-decoration: none;
                      color: #ffffff;
                      transition: color 0.3s, text-decoration 0.3s;

                      &:hover {
                        color: #bac0fa;
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        section {
          gap: 10px;

          &:not(:last-child) {
            border-right: 1px solid #000; // Adjust color as needed
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      background: #ffffff;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }

            :last-child {
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 10px;
            color: teal;
          }
        }
      }
    }
  }
}
